.experience {
  margin: 15rem 0;

  .title {
    color: var(--theme-color);
  }

  .cards {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .card {
      border: 2px solid var(--theme-color);
      height: 300px;
      width: 250px;
      border-radius: 1rem;
    }
  }
}
