@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

.light {
  --bg: #ffffff;
  --text: #333333;
  --primary: #1e40af;
}

.dark {
  --bg: #0b192e;
  --text: #f5f5f5;
  --primary: #3b82f6;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body,
html {
  overflow-x: hidden;
  overflow-y: auto; /* Ensure vertical scrolling is enabled */
}

.animated-dotted-background {
  background-color: #0b192e;
  background-image: radial-gradient(#4a5568 1px, transparent 1px);
  background-size: 30px 30px;
}
