@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #0b192e;
}

body {
  background: var(--background);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
